@media only screen and (max-width: 600px) {
    [class="poke-ball"] {
        height: auto !important;
        width: 95% !important;
        margin:0.5%;
        background-color: #000;
        background-repeat: no-repeat;
        border: none;
        border-radius: 2px;
        padding: 2%;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
    }
    [class="poke-pic"]{
        width: auto !important;
    }

  }


.poke-ball {
    width: 300px;
    height: 342px;
    margin: 10px;
    background-color: #FFF;
    background-repeat: no-repeat;
    border: none;
    border-radius: 10px;
    padding: 2%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
  }

div{
    margin: 0;
    text-align: center;
}
.poke-pic{
    padding: 0;
    margin: 0;
    width: 200px;
    height: 200px;

}
.poke-pic img{
    height: fill;
    width: fill;
    margin: 0 auto;
    vertical-align: center;
}

.poke-name{
    font-size: 1.7em;
    text-align: center;
}

/* Compare classes */

.compare-poke-ball {
    align-content: center;
    width: 150px;
    height: 220px;
    margin: 10px;
    background-color: #FFF;
    background-repeat: no-repeat;
    border: none;
    border-radius: 10px;
    padding: 2%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
  }


.compare-poke-pic{
    padding: 0;
    margin: 0;

}
.compare-poke-pic img{
    height: 100px;
    width: 100px;
    margin: 0 auto;
    vertical-align: center;
}

.compare-poke-name{
    font-size: 0.85em;
    text-align: center;
}

.favIcon{
    height: 15px;
    width: 15px;
}

.compare-favIcon{
    visibility: hidden;
}